<!DOCTYPE html>

<head>
  <title>Caesar's Cipher</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
</head>

<body>
  <div class="box">
    <h1>Caesar's Cipher</h1>
    <form>
      <div id=text-bar>
        <input type='text' name='input_string' size="55" />
      </div>
      <input type= 'text' name='shift_value' size = "5" />
      <input type='submit' value='Encrypt!' />
    </form> 
    <div id="message">
      <%= message %>
    </div>
  </div>
</body>