<!DOCTYPE html>

<head>
  <title>Caesar's Cipher</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Trirong" rel="stylesheet">
</head>

<body>
  <div>
    <h1>Caesar's Cipher</h1>

    <form id="encryption-form">
      <textarea class="form-control" name="input_string" rows="5" cols="50"><%= string %></textarea><br>
      <input class= "form-control" name="shift_value" placeholder="Key"></input>
      <button type='submit' class="btn">Encrypt!</button><br> 
      <textarea class="form-control" rows="5" cols="50"><%= message %></textarea>
    </form>
  </div>
</div>